.containerTitreImageMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

/*# sourceMappingURL=containerTitreImageMenu.css.map */
