// VARIABLES
$flex:flex;
$flDIR:column;
$JSCO:space-around;
$ALI:center;
$width:100%;
%containerTitreImageMenu {
    width:$width;
    display: $flex;
    flex-direction: $flDIR;
    justify-content: $JSCO;
    align-items: $ALI;
}

// CSS

.containerTitreImageMenu{
    @extend %containerTitreImageMenu;
}