// VARIABLES
$block:block;
$flDIR:column;
$JSCO:space-around;
$ALI:center;
$width:100%;
$widthContainer:20%;
$height:100%;

%containerLogo{
    width:$widthContainer;
}
%logo {
    display: $block;
    width:$width;
    height:$height;
}

// CSS

.logo{
    @extend %logo;
}

.containerLogo{
    @extend %containerLogo;
}