// VARIABLES
$margin:auto;
$width:80%;
$backgroundColor:#fff;
$border:1px solid black;

// PLUGINS
%general {
    margin:$margin;
    width:$width;
    background-color: $backgroundColor;
    border:$border;
}

// CSS
#general{
    @extend %general;
}