// VARIABLES
$flex:flex;
$JSCO:space-around;
$ALI:center;
$width:100%;
%menu {
    width:$width;
    display: $flex;
    justify-content: $JSCO;
    align-items: $ALI;
}

// CSS

.containerMenu{
    @extend %menu;
}